@charset "UTF-8";
h1 {
    text-align: center;
}

li {
    display: flex;
}

body {
    background: greenyellow left top repeat;
}

img {
    width: 450px;
    height: 430px;
    position: absolute;
    top: 260px;
    right: 250px
}

.container {
    display: flex;
    clear: both;
}

li {
    flex: 0 0 500px;
    size: 100px;
}