@charset "UTF-8";
h1 {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 40px;
    background-color: rebeccapurple
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 30px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item {
    background: orange;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
}

body {
    background: #9fd9f6 left top repeat;
}

body {
    height: 50vh;
    background: url(w31g3nta.bmp ) bottom no-repeat;
}