@charset "UTF-8";
.title {
    background-color: #60bfaa;
    color: #fff;
    text-align: center;
    width: 100%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-item {
    background: gold;
    border: 2px solid #000;
    width: 300px;
    text-align: center;
}